# requirements file for use with Docker for local dev.

# Django
Django==2.2
djangorestframework==3.9.2

# Gunicorn app server
gunicorn==19.9.0

# db
psycopg2-binary==2.8.2

# misc
requests==2.21.0

# whitenoise
whitenoise==4.1.2

# queryfields
djangorestframework-queryfields==1.0.0

# django-filter
django-filter==2.0.0