# requirements file for use in production

# Django
Django==2.1.4
djangorestframework==3.9.0

# Gunicorn app server
gunicorn==19.9.0

# db
psycopg2-binary==2.7.6.1

# misc
requests==2.20.1

# whitenoise
whitenoise==4.1.2

# queryfields
djangorestframework-queryfields==1.0.0

# django-filter
django-filter==2.0.0